/* "Request Demo" button */
.request_demo_button {
    width: 210px;
    height: 60px;

    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    animation: rainbow 8S linear 0s infinite alternate;
}

@keyframes rainbow {
    0%{
        background-color: rgba(255, 89, 89, 0.7);
    }
    16%{
        background-color: rgba(255, 172, 89, 0.7);
    }
    33%{
        background-color: rgba(255, 241, 89, 0.7);
    }
    50%{
        background-color: rgba(103, 255, 89, 0.7);
    }
    67%{
        background-color: rgba(89, 255, 255, 0.7);
    }
    84%{
        background-color: rgba(89, 95, 255, 0.7);
    }
    100%{
        background-color: rgba(208, 89, 255, 0.7);
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .request_demo_button {
        scale: 65%;
    }
}

.request_demo_button p {
    font-weight: 700;
    font-size: 17px;
    line-height: 160%;
    color: #212353;
}

.request_demo_button::after {
    content: url('../img/btn/arrow.svg');
    margin-top: 6px;
}

/* "Learn more" button */
.learn_more_button {
    width: 170px;
    height: 60px;

    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .3s;
}

.learn_more_button span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .learn_more_button {
        scale: 65%;
    }
}