.content {
	flex: 1 1 auto;
}

/* Headcolumn (Hero) */
.headcolumn {
	max-width: 1250px;
	margin: 0 auto 10vh;
	max-height: 564px;
}

.headcolumn__container {
	background: url('../img/headcolumn_pic.svg') 100% 100% no-repeat;
	background-size: 70% auto;
	margin: 0px 15px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.headcolumn__container {
		background-size: 72% auto;
		margin: 0px 10px;
	}
}

.headcolumn__content {
	margin: 0 0 10% 45px;
	padding: 0 0 10%;
}

.headcolumn__content h1 {
	max-width: 645px;
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 110%;
	color: #212353;
	margin: 0 0 50px;
}

.headcolumn__content p {
	max-width: 380px;
	margin: 0 0 50px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.headcolumn__content {
		margin: 0 0 10% 7px;
		padding: 0 0 30%;
	}

	.headcolumn__content h1 {
		font-size: 2.25rem;
		margin: 0 0 15px;
	}

	.headcolumn__content p {
		max-width: 90%;
		margin: 0 0 20px;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.headcolumn__learn_more {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite alternate;
}

.headcolumn__learn_more:hover {
	background: #6e3cb5;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.headcolumn__learn_more {
		margin: -17px 0 0 -29px;
	}
}

/* Subcolumn */
.subcolumn {
	max-width: 1117px;
	min-height: 560px;
	margin: 0 auto 150px;
}

.subcolumn__container {
	margin: 0 15px;
	padding: 20px 0;

	background-color: #F063B826;
	border-radius: 40px;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.subcolumn {
		max-width: 1117px;
		min-height: 0;
		margin: 0 auto 11vh;
	}

	.subcolumn__container {
		margin: 0 15px;

		background-color: #F063B826;
		border-radius: 30px;
	}
}

.subcolumn__img {
	flex: 0 0 50%;
	text-align: center;
	margin: 0 10px 0 -10px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.subcolumn__img {
		display: none;
	}
}

.subcolumn__content {
	margin: 5% 0;
	margin-right: 92px;
}

.subcolumn__content h2 {
	margin-bottom: 40px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.subcolumn__content {
		text-align: center;
		margin: 3% 20px 0;
	}

	.subcolumn__content h2 {
		margin-bottom: 15px;
	}

	.subcolumn__content p {
		margin: 0 0 2%;
	}
}